$daGray : #5e5e57;
$meGray : #c2c2c2;
$liGray : #e6e6e6;
$disable : #d9d9d9;



@mixin key ($name) {
  @keyframes $name
{
0%   {
  -webkit-transform: rotate(0deg); 
-moz-transform: rotate(0deg); 
-o-transform: rotate(0deg);
-ms-transform: rotate(0deg); 
}
25%  {-webkit-transform: rotate(-25deg); 
-moz-transform: rotate(-25deg); 
-o-transform: rotate(-25deg);
-ms-transform: rotate(-25deg); }
50%  {-webkit-transform: rotate(0deg); 
-moz-transform: rotate(0deg); 
-o-transform: rotate(0deg);
-ms-transform: rotate(0deg); }

75%  {-webkit-transform: rotate(25deg); 
-moz-transform: rotate(25deg); 
-o-transform: rotate(25deg);
-ms-transform: rotate(25deg); }

100% {-webkit-transform: rotate(0deg); 
-moz-transform: rotate(0deg); 
-o-transform: rotate(0deg);
-ms-transform: rotate(0deg); }
}

@-webkit-keyframes $name /* Safari and Chrome */
{
0%   {
  -webkit-transform: rotate(0deg); 
-moz-transform: rotate(0deg); 
-o-transform: rotate(0deg);
-ms-transform: rotate(0deg); 
}
25%  {-webkit-transform: rotate(-25deg); 
-moz-transform: rotate(-25deg); 
-o-transform: rotate(-25deg);
-ms-transform: rotate(-25deg); }


75%  {-webkit-transform: rotate(25deg); 
-moz-transform: rotate(25deg); 
-o-transform: rotate(25deg);
-ms-transform: rotate(25deg); }

100% {-webkit-transform: rotate(0deg); 
-moz-transform: rotate(0deg); 
-o-transform: rotate(0deg);
-ms-transform: rotate(0deg); }
}
  
}



*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  @include normal;
  
  font-style: normal;
  line-height: 1;
  position: relative; }

a:focus {
  outline: none; }

img,
object,
embed {
  max-width: 100%;
  height: auto; }

object,
embed {
  height: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

b, strong{
  @include bold;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

.hide {
  display: none; }

.antialiased {
  -webkit-font-smoothing: antialiased; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

/* Grid HTML Classes */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse .column,
  .row.collapse .columns {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    float: left; }
  .row .row {
    width: auto;
    margin-left: -0.9375em;
    margin-right: -0.9375em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      width: auto;
      margin: 0;
      max-width: none;
      *zoom: 1; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }

.column,
.columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left; }