.staticConWap{

	ul{
		padding:0;
	}

	li{
		
	}

	.dateWap{
		@include border-radius(4px);
		background-color: rgba(196,223,155,0);
		border: solid 1px #999;
	}
	.dwMonth{
		
	}

	.our-story{
		
	}
}