@import "compass";
@import "_normalize.scss";
@import "_MyFontsWebfontsKit.scss";

//@import "_foundation.scss";
//@import "_form.scss";
@import "_base.scss";
@import "_datatimepicker.scss";
$path : "../img";



@mixin cf(){
	&:before,
	&:after {
	    content: " ";
	    /* 1 */
	    display: table;
	    /* 2 */
	}
	&:after {
	    clear: both;
	}
}


.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

.large-8{
	width:50%;
}
.large-10-1 {
    position: relative;
    width: 634px; }   

.large-6-1{
    position: relative;
    width: 342px; 
    padding-right:0;
    float: right;
  }   

    .large-4 {
    position: relative;
    width: 25%; }


  .large-6 {
    position: relative;
    width: 37.5%; }


.large-10 {
    position: relative;
    width: 62.5%; }
  
body{
	background: url(#{$path}/bg_image.png) fixed;
	background-size:cover;

}

body.overflow{
	overflow:hidden;
}

.fl{
	float: left;
}
.fr{
	float: right;
}
a{
	color:#5e5e57;
	text-decoration:none;
}
em{
	font-style:normal;
}
ul{
	li{
		list-style-type: none;
	}
}



.trow:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.trow {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .trow {
  height: 1%;
}

.trow {
  display: block;
}



.textLight {
	color:$liGray;
	
}
.textDark{
	color:$daGray;
}
.clearDiv{
	@include clearfix;
	width:100%;
	height:0;
}

.icon{
	background:url(#{$path}/icons.png) no-repeat;
	display:inline-block;

}
.lineHeight-m{
	line-height:16px;
}
.paddZero{
	padding:0;
}
.small-ss{
	font-size:10px;
	font-family:verdana;
	color: $daGray;
}
.small-s{
	font-size:12px;
}
.small-m{
	font-size:14px;
}
.small-l{
	font-size:16px;
}
.small-lx{
	font-size:18px;
}
.bold{
	@include bold;
}
.normal{
	font-size:12px;
	color:$daGray;
}
.bgimg{

}

.welcomeMsg{
	font-size:14px;
	padding-top: 17px;

	p{
		margin: 0;
	}
}

.paddingTop-s{
	padding-top:8px;
	padding-bottom:8px;
}
.padding-none{
	padding:0;
}
.paddingL-none{
	padding-left:0;
}
.paddingR-none{
	padding-right:0;
}
.textR{
	text-align:right;
}
.TellNumberWapper{
	padding:15px 0;
}
.tellNumber{
	padding-right:6px;
	padding-top:2px;
	span{
		display: block;
		color: #666;
		font-size: 18px;
		padding: 5px 0;
	}
}
.dialBox{
	@include clearfix;
	@include border-radius(3px);

	.dial{
		padding:5px 0;
		text-align: center;
		@include bold;
	}

	.y{
		background:#f8da15;
		color: #333;
	}
	.b{
		background:#000;
		color: #fff;
	}
}

@mixin cf(){
	&:before,
	&:after {
	    content: " ";
	    /* 1 */
	    display: table;
	    /* 2 */
	}
	&:after {
	    clear: both;
	}
}


.topBox{
	@include cf;
	background: #fff;
	@include border-radius(0 0 3px 3px);
}

.topIconBox{
	ul{
		display: block;
		float: right;
		margin: 7px 10px 7px 0;
		li{
			float: left;
			padding:0 8px;
			a{
				position: relative;
				display: block;
			}
			span{
				display: block;
				width: 52px;
				height: 52px;
				background-color:#f8da15;
				@include border-radius(3px);
			}
			em{
				font-size: 11px;
				color: #003399;
				text-align: center;
				width: 100%;
				display: inline-block;
			}
			q{
				position: absolute;
				background: #EA0000;
				padding: 5px 7px;
				border: 1px solid #000;
				quotes: "";
				border-radius: 12px;
				font-size: 11px;
				top: -5px;
				right: -8px;
				color: #FFF;
				quotes: "";

			}
		}
	}	
}
.topIconBox i{
	-o-transition:all .2s linear;
    -ms-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
    transition:all .2s linear;
}
.icall{
	background-position:-9px -48px;
	width:25px;
	height:25px;
	margin: 12px 0 0 12px;
}


.topIconBox a:hover .icall { 
animation:myfirst 0.1s;
-webkit-animation:myfirst 0.1s; /* Safari and Chrome */

}

.ilogin{
	background-position: -66px -50px;
	width: 17px;
	height: 22px;
	margin: 16px 0 0 16px;
}
.topIconBox a:hover .ilogin { 
animation:myfirst 0.1s;
-webkit-animation:myfirst 0.1s; /* Safari and Chrome */

}
.iregister{
	background-position: -117px -50px;
	width: 20px;
	height: 21px;
	margin: 16px 0 0 16px;
}
.topIconBox a:hover .iregister { 
animation:myfirst 0.1s;
-webkit-animation:myfirst 0.1s; /* Safari and Chrome */

}




@include key(myfirst);


.ibooking{
	background-position: -162px -49px;
	width: 24px;
	height: 24px;
	margin: 16px 0 0 16px;	
}
.topIconBox a:hover .ibooking { 
animation:myfirst 0.1s;
-webkit-animation:myfirst 0.1s; /* Safari and Chrome */

}
.isetting{
	background-position: -204px -48px;
	width: 24px;
	height: 24px;
	margin: 16px 0 0 16px;		
}
.topIconBox a:hover .isetting { 
animation:myfirst 0.1s;
-webkit-animation:myfirst 0.1s; /* Safari and Chrome */

}
.ilogout{
	background-position: -248px -50px;
	width: 25px;
	height: 24px;
	margin: 16px 0 0 16px;	
}
.topIconBox a:hover .ilogout { 
animation:myfirst 0.1s;
-webkit-animation:myfirst 0.1s; /* Safari and Chrome */

}


/*  Left section */

.leftSlideWapper{
	background:#fff;
	@include border-radius(0 3px 3px 3px);
	border-top: 4px solid #f8da15;
	margin-top: 65px;
padding-bottom: 10px;
}

.tab-menu{
margin-top:-40px;
	a{
		background:#fff;
		-webkit-border-radius: 3px 3px 0 0;
		-moz-border-radius: 3px 3px 0 0;
		border-radius: 3px 3px 0 0;
		padding:14px 10px 10px 10px;
		font-size: 16px;
		color: #b8b8b8;
		@include bold;
		i{
			margin-right: 10px;
			vertical-align: text-bottom;
		}
		&:hover,&.active{
			background:#f8da15;
			color: #000;
			padding:18px 10px 10px 10px;
		}
	}
}
.tab-menu{
	.iptp{
		background-position:-353px -446px;
		width: 26px;
		height: 26px;
	}
	.iat{
		background-position:-389px -445px;
		width: 26px;
		height: 26px;
	}
	.ihd{
		background-position:-424px -446px;
		width: 26px;
		height: 26px;	
	}
	.iout{
		background-position:-458px -446px;
		width: 26px;
		height: 26px;
	}
	.active, a:hover{
		.iptp{
			background-position:-353px -486px;
			
		}
		.iat{
			background-position:-389px -485px;
			
		}
		.ihd{
			background-position:-424px -486px;
			
		}
		.iout{
			background-position:-458px -486px;
			
		}
	}	
}


@import "_contain.scss";

.boldLine{
	color:$daGray;
	font-size:26px;
	margin:20px 0 20px 46px;
	@include clearfix;
}

.formBlock{
	padding:0px 0px 10px 0px;

	&.disable{
		border-left-color:$disable;
		
		
		label{
			color:$disable;
		}
		input{
			&::-webkit-input-placeholder {
 				  color: $disable;
			}
			&:-moz-placeholder { 
			 	  color: $disable;
			}
			&::-moz-placeholder {  /* Firefox 19+ */
			   	  color: $disable;
			}
			&:-ms-input-placeholder {  
			   	  color: $disable;
			}
		}

		input,.inText,.dfText,.dfText,.addressWapper{
			color:$disable;	
		}
		.disableBox{
			display: block;
		}
		.carList{
			display: none;
		}

	}
}

input.error,textarea.error{
			&::-webkit-input-placeholder {
 				  color: #cc3333;
			}
			&:-moz-placeholder { 
			 	  color: #cc3333;
			}
			&::-moz-placeholder {  /* Firefox 19+ */
			   	  color: #cc3333;
			}
			&:-ms-input-placeholder {  
			   	  color: #cc3333;
			}
		}

input.error{
	&:after{

	}
}

.disableBox{
	display:none;
	background:#eaeaea;
	padding:15px 20px;
	border:1px solid #d9d9d9;
	text-transform:uppercase;
	@include border-radius(3px);
	margin-right:25px;
	color:$disable;
	margin-bottom:40px;
	width:555px;
}

.formContain{
	margin:0 0 0 41px;
	
}



.carList{
	display:table;
	border-collapse: collapse;
	width:555px;
	border:1px solid #c2c2c2;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	@include border-radius(3px);


	thead{
		-webkit-border-radius: 3px 3px 0 0;
			-moz-border-radius:  3px 3px 0 0;
			-ms-border-radius:  3px 3px 0 0;
			-o-border-radius:  3px 3px 0 0;
			border-radius:  3px 3px 0 0;
		tr{
			background:#eaeaea;


			th{
				vertical-align: top;
				text-transform: uppercase;
				color: #5e5e57;
				padding:10px 0;
				font-size: 13px;
				@include bold;

				&.firstTh{
				   text-align: left;
				   width: 320px;
				   padding-left:10px;
				}
			}
		}
	}
	tbody{
		tr{
			background:#fff;
			border-bottom:1px solid $liGray;
			cursor: pointer;
		&:hover,&.active{
				background:rgba(248, 218, 21, 0.14);

			}
			td{
				vertical-align: middle;
				color: $daGray;
				padding:16px 5px;

				&.carCost{

					text-align: center;

					a{
						font-size:13px;
						text-decoration: underline;
						display:block;
					}
				}
			
			&:first-child{
				padding: 0;
				width: 30px;
			}

				input[type="radio"]{	
					margin:0 0 0 10px;
				}
			}
		}
		tr:last-child{
			-webkit-border-radius:0 0 3px 3px;
			-moz-border-radius:0 0 3px 3px;
			-ms-border-radius:0 0 3px 3px;
			-o-border-radius:0 0 3px 3px;
			border-radius:0 0 3px 3px;
		}
	}
}

.outstationTable{
	td{
		&.carCost{
			width:18%;
			vertical-align: top;
		}
	}
}


.loginRadio{
	width:100%;
}
.logWapper{
	display:none;
}
.radioWapper{
	float: left;
	width:165px;
	margin:0 20px 10px 0;
	padding:0 0 0 0px;

	input[type="radio"]{
		margin: 0;
		display: inline-block;
	}
	label{
		display: inline-block;

		.radio{
			margin-right: 5px;
		}
	}
}
.inputWapper{
	margin-bottom:15px;
	float:left;

	label{
		color: #5e5e57;
		text-transform: uppercase;
		font-size: 12px;
		@include bold;
	}
}
.list{
position: relative;
	span.icon{
		background:url(#{$path}/formelements-select.png) no-repeat 2px center;
		width: 20px;
		height: 32px;
		position: absolute;
		top: 0px;
		right: 0px;
		cursor: pointer;
		padding-right: 10px;
	}
}
.buttonWapper{
	margin-bottom:15px;
	float:right;
	padding:15px 0 0 0;

	input{
		border: 0;
		box-shadow: none;
		background: #CCC;

padding: 5px 10px 3px 10px;
@include border-radius(3px);

		&:hover{
			background:#F8DA15;
		}
	}
}

section.disable .buttonWapper input:hover{
	background: #CCC;
	cursor: default;
}

.preIcon{
	background:#e6e6e6;
	display: block;
	float: left;
	padding: 5px 8px;
	border-right:1px solid #c2c2c2;

	.iLocation{
		width: 12px;
		height: 18px;
		background-position:-10px -137px;
	}
}
.wrapNormal{
	width:172px;
	margin-right:20px;

	input[type="submit"]{
		font-size: 14px;
		margin-top: 3px;
		color: $daGray;
	}
}
.wapmidd{
	width:172px;
}
.marginrSmall{
	margin-right:5px;
}
.ptopArrow{
	float: left;
margin-right: 20px;
width: 50px;
	.ar{
		width: 8px;
height: 18px;
background-position: -232px -183px;
margin-left: 30px;
margin-top: 22px;
position: relative;
z-index: 0;
padding: 7px;
border-radius: 7px;
	}
	hr{
		border:0;
		&:after {
			letter-spacing: 6px;
			font-size: 12px;
			color: #CCC;
			top: 9px;
			position: relative;
			display: none;
		}
	}
}
div.dd{
	width:105px;
	float:left;
	margin:0 5px 0 0;
}
.textbox{
	position: relative;
	input{
		margin:0;
	}
	.ui-datepicker-trigger{
		position: absolute;
top: 0;
right: 0;
padding: 4px 5px 5px 5px;
	}
}

input.error{
	border:1px solid #cc3333;
	color:#cc3333;
}


	.addressContainer{
		border:1px solid #c2c2c2;
		border-radius:3px;
		width: 367px;

	}
	.addSingleBlock{
		@include clearfix;
		padding:10px;
	}
	

	.SaveAddress{
		width: 150px;
		margin:0 0 0 20px;

		
		.textbox{
			margin-top: 5px;
		}
	}


.showMap{
	position: absolute;
	right: 92px;
	bottom: 5px;
	
	.h{
		display:none;
	}
	.s{
		display: inline-block;
	}
	a{
		color: $meGray;
	}
	&.active{
		.s{
			display: none;
		}
		.h{
			display: inline-block;
		}
	}
}

.addressBox{
	position: relative;
}

.sMap{
	background-position: -238px -94px;
	width: 10px;
	height: 22px;
	vertical-align: top;
}
#map-canvas{
	width:325px;
	height: 528px;
}

input.areaAddress{
		padding: 0;
box-shadow: 0 0 0;
display: inline-block;
width: 303px;
font-size: 16px;
border: 0;
margin: 0;
line-height: 20px;
height: 23px;
color:$daGray;
	}

input.landMark{
		padding: 0;
box-shadow: 0 0 0;
display: inline-block;
width: 260px;
font-size: 16px;
border: 0;
margin: 0;
line-height: 20px;
height: 23px;
color:$daGray;
	}

input[type="checkbox"]{
	margin:0;
}
.bookelse{
	margin-top:10px;
	.inputWapper{
		margin-top: 5px;
	}
}

.fillAddress{
	display:none;

	.addressWapper{
		padding:10px;
	}
}




#address.select:disabled{
	color:$liGray;
}

.beContain{
	
}

input[type="submit"].getTaxi{
	background:url(#{$path}/icons.png) no-repeat -22px -374px;
	
	width:166px;
	height:48px;
	text-indent:-9999px;
	box-shadow:0px 0px 0px;
	border:0;
}
input[type="submit"].getTaxi.getTaxi:hover{
	background:url(#{$path}/icons.png) no-repeat -215px -309px;
	
}
input[type="submit"].getTaxi.disabled{
	background:url(#{$path}/icons.png) no-repeat -20px -308px;
	
}
input[type="submit"].getTaxi.disabled:hover{
	background:url(#{$path}/icons.png) no-repeat -20px -308px;
	
}
.pay{
	float: right;
	font-size:12px;
	color:$meGray;
	margin-right:30px;
	padding:10px 0 0 0;
}


.dfText{
	text-transform:uppercase;
	color:$daGray;
	font-size:14px;
}
.inText{
	color:$daGray;
}
.addressWapper{
	border:1px solid #c2c2c2;
	border-left:0px;
	border-right:0px;
	padding:0px;
	color:$daGray;

	textarea{
		margin: 0;
		padding: 10px;
		border: 0;
		box-shadow: 0 0 0 0;
		color:$meGray;
		font-size: 16px;
		height: 100px;
		width: 364px;
		 resize: none;
	}


}

.addressWapper{

}
.submitWapper{
	border-top:1px solid $disable;
	padding: 20px 0 10px 45px;
	
}






/* Right side */

.rightSlideWapper{
	width:100%;
	float: left;
	position: relative;
}

.googleMap{
	position: absolute;
	top:0;
	left:0px;
	z-index: 1;
	width: 325px;
	height: 619px;

	border-top:4px solid #F8DA15;

&.mapCon{
	left:0;
}
	&.active{
		left:0;
		z-index: 5;
	}
}
.rightSlider{
	position: relative;
	z-index: 2;
}
.commentWapper{
	background:#fff;
	border-radius:3px;
	padding:10px 0;
	@include clearfix;
	margin-bottom:10px;
	float:left;
}
.premium{
	float:right;
	
	margin:35px 0 10px 0;
	a{
		color:#fff;	
		font-size: 16px;
		&:hover{
			text-decoration: underline;
		}
	}
}
.ipremium{
	width: 42px;
	height: 18px;
	background-position: 0px -99px;
	vertical-align: text-top;
	margin-right:10px;
}
.mobileText{
	color:#6e652a;
	font-size:14px;
	width:70px;
	float: left;
}
.quoteWapper{
	margin-left:30px;

	.quote,.quoteBy{
		color: $daGray;
	}

}
.commentBox{
	padding:10px;
	border-bottom:1px solid #ccc;
	position: relative;

	&.last{border-bottom:0;}
}
.iconBox{
	width:27px;
	height:28px;
	position: absolute;
	left: 0px;

	&.imedia{
		background-position:0px -3px;
	}
	&.imail{
		background-position:-79px -3px;
	}
	&.ifb{
		background-position:-41px -3px;	
	}
}

.quote{
	font-style: italic;
}
.quoteBy{
	margin-top:25px;
}
.quoteImg{
	display:block;
	margin-bottom:10px;
}

.highlight{
	background:#fbdc1a;
	border-radius:3px;
	padding:10px;
	margin:0 0 10px 0;
	float:left;
	width:100%;

	a{
		display:inline-block;
	}
}
.highlightAds{
	margin:0;
	padding:0;
	li{
		float: left;
		width: 48%;
		margin-right: 10px;

		&.last{
			margin-right:0;
		}
	}



}

.sumDetail{
	background: #555;
	float: left;
	width: 100%;
	position: relative;
	@include border-radius(4px);
	
	height:0;
	opacity:0;

	
    position: relative;
    top:-500px;
    z-index: -1;


}

.sumDetailAni{
	-o-transition:opacity .4s linear,top .4s linear;
    -ms-transition:opacity .4s linear,top .4s linear;
    -moz-transition:opacity .4s linear,top .4s linear;
    -webkit-transition:opacity .4s linear,top .4s linear;
    transition:opacity .4s linear,top .4s linear;
}



.rightSlider{
	&.active{

		.sumDetail{
			height:auto;
			opacity:1;
			padding:15px;
			top:0px;
			margin-bottom: 10px;
			z-index: 1;

			&.fixed{
				position: fixed;
				width:327px;
			}
			&.normal{
				position: relative;
				top:281px;
			}
		}
		.bx-wrapper{
			display: none;
		}
		.commentWapper{
			display:none;
		}

		.highlight{
			display: none;
		}
	}


	&.Ar{
		margin-bottom:0;
		.showAr{
			display: block;
		}
		&.Ti{
			.showTi{
				display: block;
			}	
		}	
		&.Cr{
			.showCr{
				display: block;
				margin-bottom: 0;
			}	
		}	

		.dIntro{
			display: none;
		}
	}
	
}
.bdetailRow{
	width: auto;
margin: 0 auto 10px auto;
}
.bdetailWap{
	margin-bottom:15px;
}

.block{
	margin-right:10px;
}

footer{
	margin-top:40px;
	.layer1{
		background:#fff;
		h3{
			margin-bottom: 0;
		}
	}
	.layer2{
		
		background:#f6e681;
		.row{
			position: relative;
		}
		.footerMenu{
			margin: 20px 0;

			a{
				color: #5e5e57;
				font-size: 11px;
				text-transform: uppercase;
				border-right:1px solid #5e5e57;
				padding-right:5px;
				@include bold;

				&.last{
					border-right:0px;
				}
				&:hover{
					text-decoration: underline;
				}
			}
			span.copyright{
				color: #5e5e57;
				font-size: 11px;
			}
		}
		nav.footerCity{
			display: inline-block;
			margin: 20px 0;

			.last{
				padding-left: 5px;
			}
		}
		.otherSite{
			.columns{
				padding: 0;
			}
		}
		.mobileSite{
				margin-left:25px; 
		}
		.netbramha{
			float:right;
			display: inline-block;
			margin: 20px 0;
		}
		.brand{
			position: absolute;
			right: 0;
			top:-65px;
		}
	}
	.layer3{
		background:#f9db1b;
		
		padding:15px 0;
	}
}


/*  Confirmed */

.confirmed{
	margin:30px;

	h3{
	color:$daGray;
	font-size:24px;
	margin-top: 14px;
	margin-bottom: 10px;
}
}

.cchalf{
	width:50%;
	float: left;
	a{
		
		color: #039;
		&:hover{
		text-decoration: underline;
		}
	}

}
.ccWp{
	margin-bottom:10px;
}
.confirmedHead{
	overflow:hidden;
	border-bottom:1px solid #ccc;
	padding-bottom:20px;
	margin-bottom:20px;
}
.ccTitle{
	color:$meGray;
	width:40%;
	font-size:12px;
	float: left;
	padding-right:10px;
	line-height:17px;
	text-transform:uppercase;
}

.ccRight{
	p{
		color:$meGray;
		float: right;
		text-align: right;
		margin: 0;
		margin-top: 32px;
	}
}
.ccID{
	color:$meGray;
	margin-left:40px;
}
.iConf{
	width:28px;
	height:22px;
	background-position:-5px -231px;
	margin-right: 10px;
	vertical-align: text-bottom;
}

.iHold{
	width:28px;
	height:22px;
	background-position:-48px -231px;
	margin-right: 10px;
	vertical-align: text-bottom;
}

.ccHead .ccTitle{
	width:100%;
}
.ccDetail{
	color:$daGray;
	font-size:14px;
	float: left;
	@include bold;
	width:60%;
}

.white{
	margin-top:20px;
	width:307px;
	float: left;
	margin-right:20px;

	&.fullWidth{
		width:100%;
		margin-right: 0;

		.bagain .rtext{
			padding: 8px 0 0 0;
			width: 80%;
		}
	}
}

.white.last{
	margin-right:0;
}
.Round{
	padding:15px;
	@include border-radius(3px);
	background-color: #fff;
	@include box-shadow(0 2px 2px rgba(0,0,0,.75));
}
.shadow{
	@include box-shadow(0 2px 2px rgba(0,0,0,.75));
}
.bagain{

	.rtext{
		width: 155px;
		float: left;
		font-size: 14px;
		padding-right:10px;
		color: $daGray;
	}

	.buttonWapper{
		margin: 0px;
		padding:0;

	}
}
del{
	font-family:verdana;
	font-weight:bold;
}





#gallery-wrap{ overflow: hidden; width: 650px; position: relative;}
#gallery{position: relative; left: 0; top: 0; padding:0;}
#gallery li{float: left; list-style: none; margin: 0 20px 15px 0;}

#gallery-controls{margin: 0 auto; width: 550px;}
#gallery-prev{float: left; position: absolute;
top: 22px;
left: 0px;}
#gallery-next{float: right; 
position: absolute;
top: 22px;
right: 10px;}
.gg{
	width: 550px;
overflow: hidden;
margin-left:45px;
}
.gc{
	display:block;
}

header,nav,section,{display:block}



/*   Airport Transfer  */


.toggleAirPort a {
  padding: 7px 10px 7px 10px;
  font-size: 16px;
  color: #b8b8b5;
  background-color: #e7e7e6;
  @include normal;
  font-weight: normal;
  font-size: 14px;
  margin-right: -4px;
  padding-right: 40px;
  border:1px solid #c2c2c2;
	float:left;
	display:block;

}

.goA{
	@include border-radius(6px 0 0 0);
	border-left:1px solid #c2c2c2;
	border-top:1px solid #c2c2c2;
}
.coA{
	@include border-radius(0 6px 0 0);
	border-right:1px solid #c2c2c2;
	border-top:1px solid #c2c2c2;
	margin-left:-1px;

}
.goA .igAir{
	width:8px;
	height:10px;
	background-position:-98px -232px;
	margin-right:5px;

}
.goA:hover,.goA.active{
	.igAir{
		width:8px;
		height:10px;
		background-position:-111px -231px;
		margin-right:5px;
	}
}

.icAir{
	width:8px;
	height:10px;
	background-position:-58px -232px;
	margin-right:5px;
}
.coA:hover,.coA.active{
	.icAir{
		width:8px;
		height:10px;
		background-position:-73px -232px;
		margin-right:5px;
	}
}

.airWap{
	width:353px;
	
	div.styled{
		@include border-radius(0 0 3px 3px);
		margin-top: -3px;
	}

}


.airPortFFTab{
    margin-left: 20px;
margin-bottom: 9px;

}
.airPortFFTab a {
  
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  padding: 14px 10px 10px 10px;
  font-size: 16px;
  color: #b8b8b5;
  background-color: #e7e7e6;
  font-family: 'ProximaNova-Semibold',sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin-right: 10px;
}
.airPortFFTab a:hover, .airPortFFTab a.active {
  background: #5e5e57;
  color: #ffffff;}

.flightNumber{
	margin-top:20px;
}
.comingAirSelect{
	display:none;
}



.toggleAirPort{
   margin-bottom: 12px;
}

.toggleAirPort a:hover, .toggleAirPort a.active {
      background: #5e5e57;
      color: #ffffff;
}

.menu1border{
    border-top: solid 1px #ccc;
}

.addPlaceWapper{
	float:left;
	margin-top:10px;
}
.addPlaceText{
	float:left;
	font-size:12px;
	@include light;
	color:#003399;
	text-align:right;
	padding:10px 10px 0px 30px;
}

.eveButton{
	background:#eaeaea;
	padding:10px 10px 7px 10px;
	@include border-radius(3px);
	float:left;
	cursor: pointer;
}

.imins{
	width:12px;
	height:12px;
	background-position:-147px -224px;
}
.iplus{
	width:12px;
	height:12px;
	background-position:-176px -226px;
}

.styledairport{
	.control-group{
		padding:0;

		input{
			border-top: 0;
			width: 99%;
			margin-top: 3px;
			border-radius: 0 0 4px 4px;
		}
		.icon{
			right:10px;
		}
	}
}

.airportLabel{
	display:block;
	&.pick{
		.gtoa{
			display: block;
		}

		.ctoa{
			display: none;
		}
	}

	&.drop{
		.gtoa{
			display: none;
		}

		.ctoa{
			display: block;	
		}
	}

}

.paymentLoading{
	background:rgba(0, 0, 0, 0.6);
	span{
		&:after{
			content:attr(data-text);
			top: 110px;
			left: -90px;
			font-size: 18px;
			color: #FFF;
			position: absolute;
			width: 280px;
			line-height: 24px;
			text-align: center;
		}
	}
}


@import "_waiting.scss";
@import "_booking.scss";
@import "_setting.scss";


@import "_default.scss";
@import "_default.date.scss";
@import "_default.time.scss";
@import "_static-contain.scss";
@import "_our-story.scss";
@import "_our-team.scss";
@import "_about-us.scss";

@import "_press.scss";
@import "_our_partner.scss";
@import "_premium.scss";
@import "_bxslider.scss";

